.social-media-div {
    text-align:center;
}

.social-media-icon {
    display:inline-block;
    margin:15px 3px;
    padding:1px;
    text-decoration: none;
    width: 30px;
}

.linkedin-social-media-icon {
    display:inline-block;
    margin:15px 3px;
    padding:1px;
    text-decoration: none;
    width: 33px;
}