.social-media-div {
    text-align:center;
}

.social-media-icon {
    display:inline-block;
    margin:5px 3px;
    margin-top:15px;
    padding:1px;
    text-decoration: none;
    width: 27px;
}

.linkedin-social-media-icon {
    display:inline-block;
    margin:5px 3px;
    margin-top:15px;
    padding:1px;
    text-decoration: none;
    width: 30px;
}